* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 2rem;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
}

.userLink {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.userName {
  font-weight: 900;
  text-decoration: none;
  font-size: 4rem;
  transition: color 0.3s;
}

.userName:hover {
  color: #007bff;
}

.userImg {
  width: 20%;
  height: 200px;
}

.userCon {
  border: 2px solid black;
  margin-left: 20px;
  padding: 10px;
  width: 70%;
  height: 200px;
  display: flex;
  align-items: center;
}

.Upostcount {
  margin-left: auto;
  margin-bottom: 0;
  font-size: 1rem;
  margin-top: 100px;
}

.userLink:hover .userName {
  color: #007bff;
}

.bio {
  width: 95.7%;
  margin: 40px;
  height: 300px;
  border: 2px solid black;
}

.bioText {
  margin-top: 10px;
}

.recPost {
  width: 95.7%;
  margin: 40px;
  margin-top: 10px;
  height: 100px;
  border: 2px solid black;
}

.comLik {
  display: flex;
  flex-direction: row;
  gap: 20px;
  float: right;
  margin-top: -20px;
}

.seeAllPostBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 50%;
}

.seeAllPostBtn:hover {
  background-color: #0056b3;
}

.userCom {
  width: 95.7%;
  margin: 40px;
  margin-top: 10px;
  border: 2px solid black;
}

.postInt {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.postInt:hover {
  transform: scale(1.1);
  background-color: #f0f0f0;
}

.postclick {
  text-decoration: none;
  color: inherit;
}

.pText {
  margin-top: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h2:hover,
.pText:hover,
.comLik:hover {
  color: #3498db;
}

.userPost {
  margin-top: 10px;
}
